.navbar-header .navbar-brand{
    height: auto;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}

.navbar-brand a{
   color: darkslateblue;
       
}

.navbar-brand a:hover, .navbar-brand a:active {
    text-decoration: none;
    color: darkslateblue;
}

.main-content section div{
    background: #bbb;
    margin:10px 20px;
    padding-top: 1px;
    }



.main-content section p{
    padding: 10px;
}
@media(max-width: 768px){
    
    #collapsable-nav {
        margin: 0 auto;
        clear: both;
        text-align: center
    }
}